<body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <!-- <a class="navbar-brand">Navbar</a> -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Get Support</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/vent">Vent out</a></li>
              <li><a class="dropdown-item" href="/checkup">Whats yr mental health</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/login">Login</a>
          </li>
        </ul>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/userRegister">Register for help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/therepistRegister">Register as Therepist</a>
          </li>
        </ul>
      </div>
    </nav>