<body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <!-- <a class="navbar-brand">Navbar</a> -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/experts">Talk to Expert</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/test">Take a Test</a>
          </li>
        </ul>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>