<%- include('../partials/head2.ejs') %>
<%- include('../partials/nav.ejs') %>
  
    <header>
        <h1>
            Take Up your mental health Quiz 😉
        </h1>
        <form action="/test2" method="POST">
            <div class="mb-3">
                <div class="mb-5">
                    <h3 class="text-center">Sometimes it feels like life is moving in slow motion,yet I still can’t keep up</h3>
                    <div class="options d-flex justify-content-evenly align-items-center">
                      <span>Agree</span>
                      <input class="myOption" value="1" type="radio" name="q1" id="q1r1">
                      <input class="myOption" type="radio" name="q1" id="q1r1" value="2">
                      <input class="myOption" type="radio" name="q1" id="q1r1" value="3">
                      <input class="myOption" type="radio" name="q1" id="q1r1" value="4">
                      <input class="myOption" type="radio" name="q1" id="q1r1" value="5">
                      <span>Disagee</span>
                    </div>
                </div>
                <div class="mb-5">
                    <h3 class="text-center">I have difficulty on concentrating and focusing on tasks.</h3>
                    <div class="options d-flex justify-content-evenly align-items-center">
                      <span>Agree</span>
                      <input class="myOption" type="radio" name="q2" id="q1r1" value="5">
                      <input class="myOption" type="radio" name="q2" id="q1r1" value="4">
                      <input class="myOption" type="radio" name="q2" id="q1r1" value="3">
                      <input class="myOption" type="radio" name="q2" id="q1r1" value="2">
                      <input class="myOption" type="radio" name="q2" id="q1r1" value="1">
                      <span>Disagree</span>
                    </div>
                </div>
                <div class="mb-5">
                    <h3 class="text-center">I just wish there should be at least someone to listen to me.</h3>
                    <div class="options d-flex justify-content-evenly align-items-center">
                      <span>Agree</span>
                      <input class="myOption" type="radio" name="q3" id="q1r1" value="10">
                      <input class="myOption" type="radio" name="q3" id="q1r1" value="8">
                      <input class="myOption" type="radio" name="q3" id="q1r1" value="6">
                      <input class="myOption" type="radio" name="q3" id="q1r1" value="4">
                      <input class="myOption" type="radio" name="q3" id="q1r1" value="2">
                      <span>Disagree</span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>